# Ignore everything
*

# But descend into directories
!*/

# Recursively allow files under subtree
!/.github/**


# Specific Files
!/.gitattributes
!/.gitignore

# Ignore specific files
# *

# Ignore Folders
# *